body::-webkit-scrollbar{
    display: none;
}

.container-error {
    align-items: center;
    display: flex;
    justify-content: center;
}

.msg-error {
    color: #990000;
    text-align: center;
};
